.logo{
    text-align: center;
}

body {
    background: linear-gradient(130deg, #429ace, #6f49d8);
    margin: 0;
    text-align: center;
    width: 100%;
    min-height: 100vh;

}

h1 {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    margin: 10px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    border: 2px solid black;
    padding:  20px 20px 50px;
    

}

.book_list{
    width:100%;
    max-width:540px;
    background: whitesmoke;
    margin: 100px auto 20px;
    padding:  40px 30px 70px;
    border-radius: 10px;
}

.book_list h1{
    color: #9a83da;
    align-items: center;
    margin-bottom: 20px;

}

.add_book{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: rgb(224, 223, 224);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input{
    flex:1;
    border:none;
    outline: gray;
    background: transparent;
    padding: 10px;
}

button{
    border:none;
    outline:none;
    padding: 15px 50px;
    background: rgb(87, 212, 87);
    font-size: 16px;
    cursor: pointer;
    border-radius: 45px;

}

ul li{
    list-style: none;
    font-size: 20px;
    text-align: left;
    padding: 8px 50px;
    user-select: none;
    cursor: pointer;
}



.status-buttons button {
    border: none;
    outline: none;
    padding: 8px 12px;
    margin: 1px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.status-buttons button.to-read {
    background-color: #2196F3;
    color: rgb(0, 0, 0);
  }
  
  .status-buttons button.reading {
    background-color: #FF9800;
    color: rgb(0, 0, 0);
  }
  
  .status-buttons button.completed {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
  }

  .status-buttons button.delete {
    background-color: #d40202;
    color: rgb(0, 0, 0);
  }

